<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="go-import" content="{{ ImportRoot }} {{ VCS }} {{ VCSRoot }}">
    <meta name="go-source" content="{{ ImportRoot }}{{ Suffix }} _ {{ VCSRoot }}/tree/{{ Branch }}{{ Suffix }}/{/dir} {{ VCSRoot }}/blob/{{ Branch }}/{file}#L{line}">
    <meta http-equiv="refresh" content="0; url=https://pkg.go.dev/{{ ImportRoot }}">
</head>
<body>
Redirecting to docs at <a href="https://pkg.go.dev/{{ ImportRoot }}{{ Suffix }}">pkg.go.dev/{{ ImportRoot }}{{ Suffix }}</a>...
</body>
</html>
